<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
              <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
          </dependentAssembly>
      </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="aspect-ratio" value="16:9"/>
    <add key="save-video-state" value="true"/>
    <add key="video-format" value=".mkv"/>
    <add key="save-path" value="C:\Users\ASUS\Videos"/>
    <add key="maps-mode" value="Offline"/>
    <add key="cache-location" value="C:\Users\ASUS\AppData\Local\Temp"/>
    <add key="maps-location" value="Indonesia"/>
  </appSettings>
</configuration>